// Flux nested inside a fixed Slurm allocation.

def wftuneProcessSelector = System.getenv('WMSbench_NF_PROCESS_SELECTOR')
def wftuneInnerQueueSize = System.getenv('WMSbench_NF_INNER_QUEUE_SIZE') as int
def wftuneBeforeScript = System.getenv('WMSbench_NF_BEFORE_SCRIPT')

process {
    executor = 'flux'

    withName: wftuneProcessSelector {
        array = 0
        beforeScript = wftuneBeforeScript
    }
}

executor {
    name      = 'flux'
    queueSize = wftuneInnerQueueSize
}
