// Native Slurm: one sbatch submission per selected process task.

def wftuneProcessSelector = System.getenv('WMSbench_NF_PROCESS_SELECTOR')
def wftuneSlurmQueueSize = System.getenv('WMSbench_SLURM_QUEUE_SIZE') as int
def wftuneKillBatchSize = System.getenv('WMSbench_NF_KILL_BATCH_SIZE') as int
def wftunePollInterval = System.getenv('WMSbench_NF_POLL_INTERVAL')
def wftuneQueueStatInterval = System.getenv('WMSbench_NF_QUEUE_STAT_INTERVAL')
def wftuneSubmitRateLimit = System.getenv('WMSbench_NF_SUBMIT_RATE_LIMIT')
def wftuneExitReadTimeout = System.getenv('WMSbench_NF_EXIT_READ_TIMEOUT')
def wftuneBeforeScript = System.getenv('WMSbench_NF_BEFORE_SCRIPT')

process {
    executor = 'slurm'

    withName: wftuneProcessSelector {
        array = 0
        beforeScript = wftuneBeforeScript
    }
}

executor {
    name              = 'slurm'
    queueSize         = wftuneSlurmQueueSize
    killBatchSize     = wftuneKillBatchSize
    pollInterval      = wftunePollInterval
    queueStatInterval = wftuneQueueStatInterval
    submitRateLimit   = wftuneSubmitRateLimit
    exitReadTimeout   = wftuneExitReadTimeout
}
